snippet vuec "description"
<template>
  <div>
	$1
  </div>
</template>

<script>
export default {
  name: '$2',

  props: {

  },

  data() {
    return {
	  $3
    }
  },

  methods: {

  },

  mounted() {
  }
}

</script>
endsnippet
